body{
    margin: 0;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}
header{
    
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
     
}
.hero-title{
    margin: 0;
}
.first{
    margin-top: 40px;
}
ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    padding: 10px;
    font-size: 24px;
}
.hero-section{
    display: flex;
    align-items: center;
}
span{
    color: orange;
}

.flex1{
  
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
   
}
.menu-item{
    display: flex;
    /* align-items: center; */
    width: 100% !important;
    justify-content: space-between;
    margin-left: 0 !important;
}
div{
    width: 50%;
    display: block;
    margin-left: 20px;
    
}
div img{
    width: 90%;
}
h1{
    font-size: 50px;
    
    
}
.recipies{
    padding-left: 0 !important;
    padding-top: 0;
}
.menu h1{
    font-size: 32px;
}
a{
    text-decoration: none;
    padding: 15px 35px;
    background-color: orange;
    color: white;
    border-radius: 35px;
    box-shadow:black;
    margin-top: 20px;
    display: inline-block;
    
}
.section2{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.about-me-img{
    width: 100%;
    
}
.about-me{
    width: 60%;
    padding-right: 10%;
}
#recipies{
    justify-content: center;
    text-align: center;
    width: 60%;
    padding: 2.5% 17.5%;
    
}
.menu{
    /* box-shadow: 0 0 black; */
    /* border:1px solid black; */
    margin: 50px;
    /* border-image: red green; */
    box-shadow: 0px 0px 5px 0px;
    border-radius: 20px;
    width: 33.33% !important;
    overflow: hidden;
    padding: 20px;
    
}
.menu img{
    width: 100%;
    
}

.section4{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    
}

.last-section{
    width: 33%;
    display: block;
    text-align: center;
    padding: 20px 50px;
    
}

footer{
    background-color: black;
    color:darkgray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}
strong{
    color:orange
}
.contract-item{
    display: flex;
    width: 100%;
    align-items: center;
}
.contract{

}
.contract h1{
    text-align: center;
}
.social{
    margin: 50px;
}
input{
    display: block;
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 300px;
    border-radius: 5px;

}
.img-item{
    width: 50%;
    padding-left: 115px;
}
.form-item{
    width: 50%;
}
.login{
    margin: 0;
}